* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2e4aa0;
}

.container {
  background-color: #1e3349;
  padding: 30px 30px;
  border-radius: 10px;
  color: #cbced2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 24px;
  font-weight: bold;
}

.cards {
  display: flex;
}

.card {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.card-header {
  font-size: 36px;
  font-weight: bold;
  padding: 30px 0;
}

.card-body {
  text-align: center;
}

.footer {
  padding: 30px 0;
}

.footer a {
  text-decoration: none;
  color: #3c5dd9;
}

@media (max-width: 960px) {
  body {
    height: 100vh;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    padding: 30px 15px;
  }
}

@media (max-width: 790px) {
  body {
    height: 100vh;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    padding: 30px 15px;
  }
}

@media (max-width: 736px) {
  body {
    height: auto;
    margin: 30px 0;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    padding: 30px 15px;
  }
}

@media (max-width: 450px) {
  body {
    height: auto;
    width: device-width;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    padding: 30px 15px;
  }
}
