<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <!-- css -->
    <link rel="stylesheet" href="styles.css" />
    <title>Components</title>
  </head>
  <body>
    <div class="recent-searches">
      <div class="title">Recent searches</div>
      <div class="searches">
        <ul>
          <li>
            <span>HTML</span>
            <i class="fas fa-times"></i>
          </li>
          <li>
            <span>CSS</span>
            <i class="fas fa-times"></i>
          </li>
          <li>
            <span>Javascript</span>
            <i class="fas fa-times"></i>
          </li>
          <li>
            <span>React.js</span>
            <i class="fas fa-times"></i>
          </li>
          <li>
            <span>AJAX</span>
            <i class="fas fa-times"></i>
          </li>
          <li>
            <span>Node.js</span>
            <i class="fas fa-times"></i>
          </li>
        </ul>
      </div>
    </div>

    <!-- menu -->
    <div class="menu">
      <ul>
        <li><span>Home</span></li>
        <li><span>Design</span></li>
        <li><span>About</span></li>
        <li><span>License</span></li>
        <li><span>Blog</span></li>
        <li><span>Contact</span></li>
      </ul>
    </div>
  </body>
</html>
