<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <!-- css -->
    <link rel="stylesheet" href="styles.css" />
    <title>Components</title>
  </head>
  <body>
    <div class="recent-searches">
      <div class="title">Recent searches</div>
      <div class="searches">
        <ul>
          <li>
            <span>HTML</span>
            <i class="fas fa-times"></i>
          </li>
          <li>
            <span>CSS</span>
            <i class="fas fa-times"></i>
          </li>
          <li>
            <span>Javascript</span>
            <i class="fas fa-times"></i>
          </li>
          <li>
            <span>React.js</span>
            <i class="fas fa-times"></i>
          </li>
          <li>
            <span>AJAX</span>
            <i class="fas fa-times"></i>
          </li>
          <li>
            <span>Node.js</span>
            <i class="fas fa-times"></i>
          </li>
        </ul>
      </div>
    </div>

    <!-- menu -->
    <div class="menu">
      <div class="menu-icon">
        <i class="fas fa-hamburger"></i>
      </div>
      <ul class="menu-list">
        <li><span>Home</span></li>
        <li><span>Design</span></li>
        <li><span>About</span></li>
        <li><span>License</span></li>
        <li><span>Blog</span></li>
        <li><span>Contact</span></li>
      </ul>
    </div>

    <!-- feed -->
    <div class="feed">
      <div class="feed-card">
        <div class="profile-image">
          <img src="./images/profile-image-man1.jpg" alt="profile Image" />
        </div>
        <div class="feed-content">
          <div class="card-header">
            <div class="card-header-title">Type something</div>
            <div class="card-header-time">a few seconds ago</div>
          </div>
          <div class="card-body">
            <div class="card-body-content">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum
              dolorum ullam natus minima consectetur, exercitationem repellat
              unde tempora, totam rem cumque qui id eum autem sapiente quos,
              molestiae at ex.
            </div>
          </div>
          <div class="card-footer">
            <span class="card-footer-reply">Reply</span>
            <span class="card-footer-like">Like</span>
          </div>
        </div>
      </div>
      <div class="feed-card">
        <div class="profile-image">
          <img src="./images/profile-image-woman1.jpg" alt="profile Image" />
        </div>
        <div class="feed-content">
          <div class="card-header">
            <div class="card-header-title">Like beer?</div>
            <div class="card-header-time">a few minute ago</div>
          </div>
          <div class="card-body">
            <div class="card-body-content">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita
              cupiditate, eos molestias explicabo odio, ullam porro alias
              aspernatur dolor architecto quia blanditiis consectetur? Ullam
              odio nemo soluta vitae, provident dolores.
            </div>
          </div>
          <div class="card-footer">
            <span class="card-footer-reply">Reply</span>
            <span class="card-footer-like">Like</span>
          </div>
        </div>
      </div>
      <div class="feed-card">
        <div class="profile-image">
          <img src="./images/profile-image-man2.jpg" alt="profile Image" />
        </div>
        <div class="feed-content">
          <div class="card-header">
            <div class="card-header-title">Stay hungry, Stay foolish</div>
            <div class="card-header-time">a 3 hours ago</div>
          </div>
          <div class="card-body">
            <div class="card-body-content">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum
              dolorum ullam natus minima consectetur, exercitationem repellat
              unde tempora, totam rem cumque qui id eum autem sapiente quos,
              molestiae at ex.
            </div>
          </div>
          <div class="card-footer">
            <span class="card-footer-reply">Reply</span>
            <span class="card-footer-like">Like</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
